<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400342809067-a343j5lofdr2em9f5544bps3n2pjq8d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400342809067-a343j5lofdr2em9f5544bps3n2pjq8d6</string>
	<key>API_KEY</key>
	<string>AIzaSyCUzYHsY9MtpJfx_JNJegiCjDsFfZD0uFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>400342809067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-bmdamian</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-bmdamian.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400342809067:ios:8ffe41bbc0070bdb7a81ae</string>
</dict>
</plist>